@model VetryaBloodBowl.Models.PlayerProfile
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.MaxQuantityDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Role)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.PlayerCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.MovementAllowance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Strenght)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Agility)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ArmorValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Skills)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.NormalRollSkills)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DoubleRollSkills)
    </td>
</tr>