@model IEnumerable<VetryaBloodBowl.Models.TeamRoster>

@{
    ViewBag.Title = "Team Roster";
}

<h2>Team Roster</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.RerollMaxQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RerollCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRules)
            </th>
        *@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RerollMaxQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RerollCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialRules)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>*@
            <td>
                @Html.ActionLink("Detail", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
