
@{
    ViewBag.Title = "Home Page";
}

@Html.ValidationSummary()
<div class="row">
    @using (Html.BeginForm("Submit", "Home"))
    {
        <div>
            @User.Identity.Name
        </div>

        <div>
            @Html.ActionLink("Team Roster", "Index", "TeamRoster", null, new { @class = "action-main-section" })
            @Html.ActionLink("Create Team", "Index", "TeamCreation", null, new { @class = "action-main-section" })
            @Html.ActionLink("Team Roster", "Index", "TeamRoster", null, new { @class = "action-main-section" })
            @Html.ActionLink("Team Roster", "Index", "TeamRoster", null, new { @class = "action-main-section" })
        </div>
    }
</div>